<app-index></app-index>
    <div *ngFor ="let item of listproduct ">
        <ul >
          <li class="titleName"> <strong>{{item.nombre}} </strong></li>
          <li class="titleValue"> {{item.descripcion}}</li>
          <li class="titleValue"> {{item.stock}}</li>
          <li class="titleValue"> {{item.precio_compra}}</li>
          <li class="titleValue"> {{item.precio_venta}}</li>
          <li class="titleValue"> {{item.precio_venta}}</li>
          <li class="titleValue"> {{item.fecha_vencimiento}}</li>
          <li class="titleValue"> {{item.proveedor_CPR}}</li>
          <li> <button (click)="delete(item.cpd);" >Eliminar</button> </li>
          <li> <button routerLink="../updateProducto/{{item.cpd}}" >Actualizar</button> </li>
        
        </ul>
    </div>
