<app-index></app-index>

<li> <button [routerLink]="'/crearProducto'" id="boton1"> Crear Producto"</button> </li>

<table>
  <thead>
    <tr>
      <th>NOMBRE
      <th>DESCRIPCION
      <th>STOCK
      <th>COMPRA
      <th>VENTA
      <th>FECHA
      <th>ACCIONES
  </thead>
  
    <tbody >
      <tr *ngFor ="let item of listproduct ">
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.stock}}</td>
        <td>{{item.precio_compra}}</td>
        <td>{{item.precio_venta}}</td>
        <td>{{item.fecha_vencimiento}}</td>
      
        
        <td>
          <li> <button routerLink="../updateProducto/{{item.cpd}}" >Actualizar</button> </li>
        </td>
        <td>
          <li> <button (click)="delete(item.cpd);" >Eliminar</button> </li>
          
        </td>
        <!-- <td>
          <li> <button (click)="getNamelist(item.cpd);" >Eliminar</button> </li>
          
        </td> -->
        
      </tr>
      
    </tbody>
 
  
</table>

