<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a href="/">
          <img src="/favicon.ico" alt="Avatar" class="avatar"/>
        </a>
        <h1>Covid-19</h1>
        <span class="example-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/venta'"> Venta </a>
          <a mat-button [routerLink]="'/producto'"> Producto </a>
<!--          <a mat-button [routerLink]="'/main/countries'"> Datos </a>-->
<!--          <a mat-button [routerLink]="'/main/predict'"> Predicciones </a>-->
          <a mat-button [routerLink]="'/crearVenta'"> Crear venta </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
